# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atomic-taro'
      'command': 'atomic-taro:open'
    }
  ]
  'atom-pane': [
    {
      'label': 'Copy Block'
      'command': 'atomic-taro:tarocopy'
    },
    {
      'label': 'Wrap in Variant'
      'command': 'atomic-taro:taronewvariant'
    }
]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atomic-taro'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atomic-taro:open'
        }
      ]
    ]
  }
]
