// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.atomic-taro {
}

.atomic-taro_pane {
  overflow: scroll;
  overflow-y: scroll;
}

atom-text-editor, /* 1 */
:host {
  color: @syntax-text-color;
  background-color: @syntax-background-color;
}

.atomic-taro_editor-segment{
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
  //  border: 1px solid @mono-3;
}

.atomic-taro_editor-header-name-container{
  display: inline-block;
  margin-left: 5px;
}

.atomic-taro_editor-header-box{
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: @font-size;
  background-color: @syntax-background-color;
  margin: 0px;
  border: 1px solid @syntax-selection-color;//@mono-3;
}
.atomic-taro_editor-header-box:hover{ border: 1px solid @mono-2; }
.atomic-taro_editor-header-box.pinned{
  position:fixed;
  z-index: 4;
}

.scrollTopDiv{
  //background-color: pink;
  position:fixed;
  z-index: 4;
  height: 20px;
}

.scrollBotDiv{
  position:fixed;
  z-index: 4;
  //background-color: white;
  height: 20px;
}

.atomic-taro_editor-header-name{
  padding-bottom: 1px;
  margin-bottom: 2px;
  padding-top: 1px;
  display: inline-block;
}

.atomic-taro_editor-header-date{
  display: block;
  //float: left;
  color: @mono-3;//comment color
}
.atomic-taro_editor-header-date.variant{
   color: @hue-1;
}

.atomic-taro_editor-shared-function-name{
  padding-bottom: 1px;
  margin-bottom: 2px;
  padding-top: 1px;
  display: inline-block;
  color:  @hue-2;
}

.pinButton{
  color: @mono-3;
  float: right;
}
.pinButton.clicked { color: @hue-1; }
.pinButton:hover { color: @mono-2; }

.atomic-taro_editor-header-buttons{
  cursor: pointer;
  display: inline-block;
  float: right;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  vertical-align: middle;
  border: 1px solid @syntax-selection-color;
  color: @syntax-selection-color;
}
.atomic-taro_editor-header-buttons:hover{ color: @hue-1; border: 1px solid @hue-1;}

.variants-hoverMenu{
  //background-color: pink;
  z-index: 3;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 15px;
  right: 0px;
  display:block;
}
.variants-hoverMenu-buttons{
  cursor: pointer;
  display: inline-block;
  float: right;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  vertical-align: middle;
  border: 1px solid @syntax-background-color;
  background-color: @syntax-selection-color;
  color: @syntax-text-color;
}
.variants-hoverMenu-buttons:hover{ color: @hue-1; border: 1px solid @hue-1;}

.variants-container{
  //margin-bottom: 10px;
  border-top: 1px solid @hue-1;
}

.variants-header-box{
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  color: @hue-1;
  font-size: @font-size;
  background-color: @syntax-background-color;
  margin: 0px;
  border: 1px solid @syntax-selection-color;
  border-left: 3px solid @hue-1;
  margin-left: 15px;
}
.variants-header-box.inactive{
  color: @mono-3;
  border: 0px;
  border-left: 5px solid @mono-3;
}
