// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";
@import "taro-variables";

.atomic-taro {
}


.atomic-taro_pane {
  font-size: @fontDemoSize;
  //overflow: scroll;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

atom-text-editor, /* 1 */
:host {
  color: @syntax-text-color;
  background-color: @syntax-background-color;
}


.atomic-taro_editor-segment{
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: margin-left 0.5s ease-in-out;
  //  border: 1px solid @mono-3;
}
.atomic-taro_editor-segment.variant{
  border-left: 3px solid @syntax-color-function;//@hue-1;
}
.atomic-taro_editor-segment.inactive_variant{
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  //border-left: 0px;
}


.atomic-taro_editor-header-name-container{
  display: inline-block;
  margin-left: 5px;
}

.atomic-taro_editor-footer-box{
  min-width: 200px;
  height: 1px;
  //margin-bottom: 4px;
  //background-color: @tree-view-background-color;
  //border: 1px solid @syntax-selection-color;//@mono-3;
  border-bottom:  1px solid @mono-3;//@app-background-color;//@mono-3;
  border-top:  2px solid transparent;
}
.atomic-taro_editor-footer-box.active{
  border-top:  1px solid @syntax-text-color;//@mono-3;
  border-bottom:  2px solid black;
}

.atomic-taro_editor-header-wrapper{
  color: @mono-3;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: @fontDemoSize;//@font-size;
  cursor: default;
  border-top:  1px solid @mono-3;
}

.atomic-taro_editor-header-box{
  display: inline-block;
  color: @mono-3;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: @fontDemoSize;//@font-size;
  margin: 0px;
  margin-top: 2px;
  transition: border-width 0.1s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
  //border: 1px solid @hue-1;
  //background-color: //@app-background-color;//@inset-panel-background-color;
  //border: 1px solid transparent;
  //border-top:  1px solid @mono-3;
  border-bottom:  1px solid @inset-panel-background-color;
  margin-bottom: 5px;

}
.atomic-taro_editor-header-box:hover, .atomic-taro_editor-header-box.active{
  //border: 1px solid @syntax-text-color;//@hue-1;
  color: @syntax-color-function;
  //background-color: @tree-view-background-color;
  //background-color: @inset-panel-background-color;
}
.atomic-taro_editor-header-box.pinned{
  position:fixed;
  z-index: 4;
}
/*.atomic-taro_editor-header-box.activeVariant{
  //border-left: 3px solid @hue-1;
  border-bottom: 1px solid @hue-1;
}
.atomic-taro_editor-header-box.activeVariant:hover{
  border: 1px solid @mono-2;
  //border-left: 3px solid @hue-1;
  border-bottom: 1px solid @hue-1;
}*/
.atomic-taro_editor-header-box.inactiveVariant{
  color: @hue-1;
  margin: 0px;
  border: 1px solid @syntax-selection-color;
  border-left: 3px solid @hue-1;
}
.atomic-taro_editor-header-box.inactiveVariant:hover{
  border: 1px solid @mono-2;
  border-left: 3px solid @hue-1;
}

.atomic-taro_editor-active-button{
  padding-top: 2px;
  margin-right: 5px;
  color: @mono-3;
  float: right;
  min-height: 10px;
  min-width: 15px;
  cursor: pointer;
  text-align: center;
}
.atomic-taro_editor-active-button:hover{
  color: @hue-1;
  border: 1px solid @mono-3;
}
.atomic-taro_editor-active-button.clicked{
  color: @hue-1;
}

.taro-collapse-button{
  display: inline;
  float: left;
}
.taro-collapse-button:hover{
  color: @mono-1;
}

.icon-primitive-dot{
  margin-left: 1px;
  margin-right: 1px;
  color: @hue-1;
  z-index: 10;
}

.icon-primitive-dot.clicked{
  color: @mono-3;
}

.scrollTopDiv{
  //background-color: pink;
  position:fixed;
  z-index: 4;
  height: 20px;
}

.scrollBotDiv{
  position:fixed;
  z-index: 4;
  //background-color: white;
  height: 20px;
}

.atomic-taro_editor-header-name{
  padding-bottom: 1px;
  margin-bottom: 2px;
  padding-top: 1px;
  display: inline-block;
  min-height: 10px;
  min-width: 15px;
}

.atomic-taro_editor-header-date{
  display: block;
  float: right;
  color: @syntax-background-color;//@mono-3;
  margin-left: 10px;
  margin-right: 3px;
}
.atomic-taro_editor-header-date.active{
   color: @syntax-gutter-text-color-selected;//@hue-1;
}
.atomic-taro_editor-header-date.variant{
   color: @hue-1;
}

.atomic-taro_editor-header-varIcon{
    display: inline;
    float: right;
    margin-left: 10px;
    color: @mono-3;
}

.atomic-taro_editor-header_version-title{
  cursor: pointer;
  margin-right: 3px;
  color: @mono-3;
  z-index: 5;
  padding-right: 30px;
  border-right: 1px solid @tool-panel-border-color;
}
.atomic-taro_editor-header_version-title:hover{
  padding-right: 2px;
}
.atomic-taro_editor-header_version-title.focused.active{
  color: @hue-2;
  z-index: 5;
}
.atomic-taro_editor-header_version-title.highlighted{
  color: @syntax-color-constant;
  z-index: 5;
}

.atomic-taro_editor-header_x
{
  padding-left: 12px;
  color: @text-color-subtle;
}


.icon-primitive-square{
  margin-left: 1px;
  margin-right: 1px;
  color: @mono-3;
}
.icon-primitive-square.active{
  color: @hue-1;
}
.icon-primitive-square.highlighted{
  color: @syntax-color-constant;
}

.pinButton{
  color: @mono-3;
  float: right;
}
.pinButton.clicked { color: @hue-1; }
.pinButton:hover { color: @mono-2; }

.atomic-taro_editor-header-buttons{
  cursor: pointer;
  display: inline-block;
  float: right;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  vertical-align: middle;
  border-left: 1px solid transparent;//@syntax-selection-color;
  border-right: 1px solid transparent;//@syntax-selection-color;
  color: @syntax-background-color;//@syntax-selection-color;
}
.atomic-taro_editor-header-buttons:hover, .atomic-taro_editor-header-buttons.active{
  color: @hue-1;
  border-left: 1px solid @hue-1;
  border-right: 1px solid @hue-1;
}

.variants-hoverMenu{
  //background-color: pink;
  z-index: 7;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 10px;
  display:block;
}
.variants-hoverMenu-buttons{
  cursor: pointer;
  //display: inline-block;
  //float: right;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  vertical-align: middle;
  border: 1px solid @text-color-subtle;
  background-color: white;//@syntax-selection-color;
  color: @syntax-text-color;
}
.variants-hoverMenu-buttons:hover{
  color: @hue-1;
  //border: 1px solid @hue-1;
  background-color: #E9EFF4;
}


.output-container{
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: @fontDemoSize;//@font-size;
  background-color: @syntax-selection-color;
  margin: 0px;
  border: 1px solid @syntax-selection-color;//@mono-3;
  height: 40px;
}
