// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.atomic-taro_main-menu_alertBox{
  background-color: @text-color-warning;
  color: white;
  padding: 5px;
}



.atomic-taro_commitAlertLabel{
  font-style: italic;
  margin-left: 5px;
  color: white;//@background-color-highlight;
}

.atomic-taro_commitLock{
  color: black;
}

.atomic-taro_commitBackButton{
  position: relative;
  left: -5px;
  padding: 10px;
  padding-left: 8px;
  padding-right: 15px;
  margin-right: 10px;
  border-right: 1px solid white;
  color: white;
}
.atomic-taro_commitBackButton:hover{
  background-color: rgba(255, 255, 255, 0.4);
}


// For moding the style of other elements of the interface while time traveling

.atomic-taro_editor-header-box.historical{
  border-top:  2px solid @text-color-warning;
  //background-color: @text-color-warning;
}
.atomic-taro_editor-header-box.historical:hover, .atomic-taro_editor-header-box.historical.active{
  border: 2px solid @text-color-warning;
}

.atomic-taro_commit-traveler.historical{
  border: 1px solid @text-color-warning;
}

.atomic-taro_editor-footer-box.historical{
  border-top:  2px solid @text-color-warning;
}
.atomic-taro_editor-footer-box.historical.active{
  border-top:  1px solid @syntax-text-color;
  border-bottom:  2px solid @text-color-warning;
}
