@import "ui-variables";
@import "syntax-variables";


atom-text-editor::shadow {
  .highlight-green .region {
    background-color: rgba(0,255,0,0.1);
  }

  .highlight-blue .region {
    background-color: blue;
  }

  .highlight-red .region {
    background-color: rgba(255,0,0,0.1);
  }

  .highlight-pink .region {
    background-color: rgba(92,188,124,0.25);
  }

  .gutter .taro-connect {
       display: block;
       width: ~"calc(100% - 1px)";
       //margin-top: -30px;
       border-right: 1px solid @mono-3;
  }
}

atom-text-editor, :host {
  // .line-number {
  //   &.taro-line-connect {
  //       &::after {
  //        content: " ";
  //        display: block;
  //        width: 2px;
  //        height: 100%;
  //        background: red;
  //
  //        position: absolute;
  //        //vertical-align: middle;
  //        top: 0%;
  //        right: 9px;
  //        //margin-top: -3px;
  //      }
  //   }
  // }
}
