// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";
@import "taro-variables";


.atomic-taro_explore-play-button
{
  margin-left: 10px;
}
.atomic-taro_explore-play-button:hover
{
  color: @text-color-success;
}



.atomic-taro_output_box
{
  z-index: 4;
  cursor: default;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: @button-background-color-hover;
  border: 1px solid white;
  border-bottom: 1px solid @background-color-selected;
}
.atomic-taro_output_box.selected
{
  border: 1px solid @hue-2;
}
.atomic-taro_output_box.travel
{
  border: 2px solid @text-color-warning;
}
.atomic-taro_output_box.newest
{
  background-color: white;
}

.atomic-taro_output_date
{
  color: @text-color-subtle;
  font-style: italic;
}

.atomic-taro_output-rmenu{
  cursor: default;
  z-index: 6px;
  position: absolute;
  right: 0px;
  border: 1px solid @text-color-subtle;
  background-color: white;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: @fontDemoSize;
  color: @text-color;
  width: 150px;
}

.output-rmemu_itemBox{
  cursor: default;
  padding: 2px;
  border: 1px solid @tool-panel-border-color;
}
.output-rmemu_itemBox:hover{
  color: @hue-1;
  border: 1px solid @hue-1;
  background-color: #E9EFF4;
}
